---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h1>Useful Resources</h1>
<b>Writing Tips</b><sup>1</sup>
<ul>
  <li>"Tips for Students" by Prof. J. Cole Smith. [<a href="https://colesmit.expressions.syr.edu/tips-for-students/">link</a>]</li>
  <li>"LaTex Style Guide for EE 364B" by Profs. Stephen Boyd, Ernest K. Ryu, and Neal Parikh. [<a href="https://stanford.edu/class/ee364b/latex_templates/template_notes.pdf">PDF</a>]</li>
  <li>"A few tips on writing papers with mathematical content" by Prof. John N. Tsitsiklis. [<a href="https://www.mit.edu/~jnt/Papers/R-20-write-v5.pdf">PDF</a>][<a href="https://www.mit.edu/~jnt/Slides/2019-05-On_writing.pdf">slides</a>][<a href="https://www.bilibili.com/video/BV1VL411c7Ue/?spm_id_from=333.337.search-card.all.click&vd_source=7e64ae4572f50d8010b872f5ad1af6a2">video</a>]</li>
</ul>
<sup>1</sup><b>Note:</b> For students working with me, please read the contents carefully. This will make our collaboration much easier.

